@media (max-width: 4000px) {
  .slider_section {
    height: 600px;
    background-attachment: fixed;
  }

  .hero_area {
    height: auto;
  }

  .slider_section .detail-box {
    padding: 75px 0;
  }
}

@media (max-width: 1400px) {
  .slider_section .detail-box {
    padding: 75px 0;
  }
}

@media (max-width: 1120px) {
}

@media (max-width: 992px) {
  .hero_area {
    height: auto;
  }

  .slider_section {
    height: 100%;
    background-position: 50%;
    background-attachment: scroll;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
  }

  .custom_nav-container {
    justify-content: center;
  }

  .custom_nav-container .contact_nav {
    display: none;
  }

  .slider_section .detail-box {
    padding: 40px 0;
  }

  .custom_nav2 .navbar-nav {
    margin-top: 10px;
  }
}

@media all and (max-width: 768px) {
  .counter-date {
    font-size: 1.125rem;
    padding: 0.75rem;
  }

  .counting-span {
    font-size: 3.375rem;
  }
}

@media (max-width: 768px) {
  .slider_section .detail-box {
    text-align: center;
  }

  .slider_section .detail-box .btn-box {
    justify-content: center;
  }

  .slider_section .carousel-indicators {
    justify-content: center;
    left: 0;
    bottom: 55px;
  }

  .service_section .service_container .box {
    flex-basis: 100%;
    margin: 2% 0;
  }

  .custom_nav2 {
    padding: 0;
  }

  .us_section .us_container {
    flex-direction: column;
  }

  .client_section .box {
    width: 100%;
  }

  .result_section .detail-box {
    padding: 45px 0 90px 0;
  }

  .contact_section .heading_container {
    margin-bottom: 0;
  }

  .contact_form-container {
    margin-bottom: 30px;
  }

  .contact_section input {
    width: 100%;
  }

  .info_section .row > div {
    margin-bottom: 10px;
    text-align: center;
  }

  .info_section .info_link-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info_section .info_social {
    justify-content: center;
  }

  .counter-date {
    padding: 0 10px;
  }

  .layout_padding {
    padding: 70px 0;
  }
}

@media (max-width: 576px) {
  .slider_section .detail-box h1 {
    font-size: 3rem;
    padding-top: 50px;
    margin-bottom: 0px;
    /* visibility: hidden; */
  }

  .slider_section .detail-box h3 {
    text-transform: none;
    margin-top: 15px;
    font-size: x-large;
  }
}

@media (max-width: 480px) {
  .slider_section {
    background-size: cover;
  }
}

@media (max-width: 400px) {
  .slider_section .detail-box h2 {
    font-size: 1.8rem;
  }

  .slider_section .detail-box h1 {
    font-size: 2.5rem;
  }

  .info_section .info_form form {
    flex-direction: column;
    align-items: center;
  }

  .info_section .info_form form input {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 360px) {
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
